<h1 class="text-center">Eat Da Burger</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ul>
                {{#each burgers}}
                <li>
                    {{#unless this.devoured}}
                    {{this.id}}. {{this.burger_name}}
                    <button type="button" class="devour" data-id="{{id}}" data-newdevour="{{devoured}}">
                        EAT!!
                    </button>
                    {{/unless}}        
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-6">
             <ul>
                {{#each burgers}}
                <li>
                    {{#if this.devoured}}
                    {{this.id}}. {{this.burger_name}}
                    {{/if}} 
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

